body{
    background-image: url(../4_5/bg.png);    
}
#wrapper{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1{
    color: white;
    font-size: 45px;
    margin-top: -30px;
}
.uebertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#drei{
    width: 500px;
    column-count: 3;
    color: white;
	text-align: justify;
    column-gap: 50px;
    margin-top: 30px;
}
#zwei{
    width: 500px;
    column-count: 2;
    color: white;
    text-align: justify;
    column-gap: 50px;
    margin-top: 30px;
}