
html, body {
    background: rgb(175, 76, 76);
    margin: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    display: flex;
    flex-direction: column;
    margin-left: 215px;
    font-size: 42px;
    font-weight: lighter;
    color: azure;
}

input {
    width: 450px;
    padding: 10px 10px 10px 45px;
    font-size: 1.5em;
    margin-bottom: 0em;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    position: relative;
    width: 454px;
    background: white;
    list-style-type: none;
    margin: 0.1em 0em 0.1em 0em;
    padding: 10px 10px 10px 45px;
    font-size: 1.4em;
}

ul li.done {
    background: lightgrey;
    color: white;
    text-decoration: line-through;
}

ul li i.fa-check-circle {
    float: left;
    margin-left: -1.3em;
    font-size: 1.3em;
    cursor: pointer;
    color: grey;
}

ul li i.fa-circle {
    float: left;
    margin-left: -1.3em;
    font-size: 1.3em;
    cursor: pointer;
    color: lightgrey;
}

ul li i.fa-trash-alt {
    float: right;
    font-size: 1.3em;
    cursor: pointer;
    color: rgb(200, 40, 40);
    opacity: 30%;
}

ul li i.fa-trash-alt:hover{
    opacity: 50%;
}

ul li:hover {
    background: rgb(235, 235, 235);
}

i.fa-plus-circle {
    position: absolute;
    margin-top: 0.45em;
    margin-left: 0.2em;
    font-size: 1.9em;
    color: lightgrey;
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: column;
}

.total {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color: rgb(255, 255, 255);
    margin-left: 14em;
    margin-top: -1em;
    margin-bottom: 3em;
}