body{
    background-image: url(../4_3/bg.png);    
}
#wrapper{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.uebertext{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
h1{
    color: white;
    font-size: 50px;
    font-family: font;
}
h2{
    color: white;
    font-size: 25px;
    font-family: font;
}

@font-face {
    font-family: font;
    src: url(../4_3/font/Champagne&Limousines.ttff);
    src: url(../4_3/font/Champagne&Limousines.woff);
    src: url(../4_3/font/Champagne&Limousines.woff2);
    
}